/ * Embla Carousel Styles * /

.embla {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 256px; /* Ensure height matches CheckIn component */
}

.embla__viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.embla__container {
    display: flex;
    will-change: transform;
}

.embla__slide {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}